server {
    listen 80;
    server_name {{ item.value.domains | join(' ') }};
    access_log /var/log/nginx/{{ item.key }}-access.log;
    error_log /var/log/nginx/{{ item.key }}-error.log;
    
    if ($http_x_forwarded_proto = "http") {
      return 301 https://$server_name$request_uri;
  }

location / {
    proxy_pass http://{{ item.value.address }}:{{ item.value.port }};
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    }
}


